@page "/products";

<h1 class="text-success">All Products</h1>  <h3>favorites: @favorites</h3>

<div class="row p-2">
	@foreach (var item in ProductList)
	{
		<ProductDisplay p="item" ChangeFunction="ChangeFavorites"/>	
	}
</div>

@code {
	public int favorites { get; set; } = 0;

	protected void ChangeFavorites(bool isSelected)
	{
		if (isSelected) favorites++;
		else favorites--;
	}

		Webshop_Models.Product product = new()
		{
			ProductId = 1,
			Name = "RTX3090",
			IsActive = true,
			Price = 29.99,
			ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
		};

	List<Product> ProductList = new();

	protected override void OnInitialized()
	{
		ProductList.Add(product);
		ProductList.Add(new()
			{
				ProductId = 2,
				Name = "RTX3080",
				IsActive = false,
				Price = 12.99,
				ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
			});

		ProductList.Add(new()
			{
				ProductId = 3,
				Name = "RTX3070",
				IsActive = true,
				Price = 29.99,
				ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
			});

	}

}
